body {
    font-family: Arial, sans-serif;
    text-align: center;
}
#chart-container {
    width: 100%;
    height: 70vh;
    overflow-x: auto; /* Горизонтальная прокрутка */
}
canvas {
    width: 200%; /* Увеличиваем ширину графика для скроллинга */
}
#scrollBar {
    width: 80%;
    margin-top: 10px;
}
.controls {
    margin-top: 10px;
}
